{% extends "base.html" %}

{% block content %}

<h1>{{ title }}</h1>

<form method="POST">
    <label for="isbn">ISBN:</label>
    {% if suggestion %}
    <input name="isbn" value="{{ suggestion.isbn }}"> <br>
    {% else %}
    <input name="isbn"> <br>
    {% endif %}

    <div class="suggestees-input">
        <h3>Suggestees</h3>
        {% for suggestee in suggestees %}
        <label for="suggestees">{{ suggestee.name }}</label>
        <input type="checkbox" name="suggestees" value="{{ suggestee.id }}">
        {% endfor %}
    </div>
    <div class="labels-input">
        <h3>Labels</h3>
        {% for label in labels %}
        <label for="labels">{{ label.name }}</label>
        <input type="checkbox" name="labels" value="{{ label.id }}">
        {% endfor %}
    </div>

    <input value="{{ title }}" type="submit">

</form>



{% endblock %}
