{% extends "base.html" %}

{% block content %}

<h1>Add Label</h1>

<form method="POST">
    <label for="name">Name:</label>
    <input name="name"> <br>

    <input value="Add" type="submit">
</form>

{% endblock %}
