{% extends "base.html" %}

{% block content %}

<h1>Add Suggestee</h1>

<form method="POST">
    <label for="first_name">First Name:</label>
    <input name="first_name"> <br>
    <label for="last_name">Last Name:</label>
    <input name="last_name"> <br>
    <label for="description">Description</label>
    <textarea rows="7" cols="30" name="description"></textarea> <br>

    <input value="Add" type="Submit">

</form>

{% endblock %}
