<!DOCTYPE html>

<html>
  <head>
      <title>{{ title }}</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/reset.css') }}" >
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}" >
  </head>
  <body>

      <div class="page-content">
          <div class="header">
              <a href="{{ url_for('displaylist') }}">
                  <h3 class="title">Booklist</h3>
              </a>
              <a href="{{ url_for('add_book') }}">Add Suggestion</a>
              <a href="{{ url_for('add_suggestee') }}">Add Suggestee</a>
              <a href="{{ url_for('add_label') }}">Add Labels</a>
          </div>
      <div class="flash_msgs">
          {% with messages=get_flashed_messages() %}
          {% for message in messages %}

          <p>{{ message }}</p>

          {% endfor %}
          {% endwith %}
      </div>

          {% block content %}
          {% endblock %}
      </div>
  </body>
</html>
