{% extends "base.html" %}

{% block content %}

<h1> List </h1>

<table class="booklist">
    <tr>
        <th>Title</th>
        <th>Labels</th>
        <th>Suggestee</th>
        <th>Actions</th>
    </tr>
    {% for suggestion in suggestions %}
    <tr>

        <td>{{ suggestion.title }}</td>
        <td>
        {% for label in suggestion.labels %}
            <p>{{ label.name }}</p>
        </td>
        {% endfor %}

        <td>
        {% for suggestee in suggestion.labels %}
        <p>{{ suggestee.name }}</p>
        </td>
        {% endfor %}

        <td>

            <a href="{{ url_for('edit_suggestion', id=suggestion.id) }}">
                <button class="btn">Edit</button>
            </a>

            <a href="{{ url_for('delete_suggestion', id=suggestion.id) }}">
                <button class="btn">Delete</button>
            </a>

        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
