@import url('https://fonts.googleapis.com/css?family=Arimo&display=swap');

.page-content {
    margin: 20px;
}

h1 {
    font-size: 30px;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6, p, b, i, a, th, td {
    font-family: Arimo, sans-serif;
}

a {
    text-decoration: none;
}

.btn {
    border: 1px solid #fc1629;
    border-radius: 4px;
    background-color: #fc7616;
    padding: 5px;
    color: white;
    font-size: 75%;
}

.btn:hover {
    cursor: pointer;
}
.header {
    margin-bottom: 10px;
    border: 2px solid black;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header > a {
    margin-right: 10px;
    color: #169cfc;
}
.header .title {
    font-size: 30px;
    margin-right: 20px;
    color: black !important;
}

.booklist {
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 4px;
}

.booklist th, td {
    border: 1px solid black;
    padding: 5px;
}
